%background_images{
    .background__img,.background__about__us{
        width: 100%;
        padding: 0px;
    }
    .background__about__us{
        margin-top: 50px;
    }
    .HomeImage{
        width: auto;
        height: 100%;
        position: absolute;
        right: 0px;
    }
    .about__us__img{
        width: auto;
        height: 100%;
        position: absolute;
        left: 0px;
    }

    .background_rectangle{
        width: 691.2px;
        height: 876.28px;
        background: linear-gradient(277.45deg,
         #05697F -4.08%, rgba(5, 105, 127, 0) 95.53%);
         border-radius: 100px;
         transform: rotate(-45deg);
         position: absolute;
         top: -9rem;
         right: 99rem;
         z-index: -10;
    }

    .background_rectangle_index{
        width: 423.56px;
        height: 366.62px;
        background: linear-gradient(277.45deg,
         #05697F -4.08%, rgba(5, 105, 127, 0) 95.53%);
         border-radius: 100px;
         transform: rotate(-45deg);
         position: absolute;
         top: 45rem;
         right: 116rem;
         z-index: -10;
    }
}