%background_images{
    .background__img,.background__about__us{
        width: 100%;
        padding: 0px;
    }
    .background__about__us{
        margin-top: 50px;
    }
    .HomeImage{
        width: auto;
        height: 100%;
        position: absolute;
        right: 0px;
    }
    .about__us__img{
        width: auto;
        height: 100%;
        position: absolute;
        left: 0px;
    }
}