@import 'Blocks/_colors';
@import '_background';

body {
    @extend %background_images;
    max-height: 1080px;
    background: $bgColor url(Images/HomeImages/background.png) no-repeat;
    background-size: 100%;
  
    font-family: 'Montserrat', sans-serif;
}

*,img,
*::before,
*::after {

    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1880px;
    margin: 0 auto;
}

@import 'Blocks/_header';
@import 'Blocks/_body_content';
@import 'Blocks/_footer';

